<html>
<head>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
<form>
    {% csrf_token %}
    <table>
    <tr>
        <td>
           <h3>Edit Employee Details</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            <input type="text" name="name" value="{{employee.name}}" id="name">
        </td>
        <td>
            <div id="error_name" style="color: red"></div>
        </td>
    </tr>
    <tr>
        <td>
            Employee Code
        </td>
        <td>
            <input type="text" name="employee_code" value="{{employee.id}}" id="employee_code" readonly>
        </td>
        <td>
            <div id="error_employee_code" style="color: red"></div>
        </td>
    </tr>
    <tr>
        <td>
            Phone number
        </td>
        <td>
            <input type="text" name="phone_number" value="{{employee.phone_number}}" id="phone_number">
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <input type="text" name="email" value="{{employee.email}}" id="email">
        </td>
        <td>
            <div id="error_email" style="color: red"></div>
        </td>
    </tr>
    <tr>
        <td>
            Address
        </td>
        <td>
            <input type="text" name="address" value="{{employee.address}}" id="address">
        </td>
         <td>
            <div id="error_address" style="color: red"></div>
        </td>
    </tr>
    <tr>
        <td>
            <button id="save">Save</button>
        </td>
    </tr>
    <tr>
        <button id="add_new" onclick="addEmployee()">ADD NEW EMPLOYEE</button>
    </tr>
    <tr>
        <button id="view" onclick="viewEmployee()">VIEW TOTAL EMPLOYEES</button>
    </tr>
</table>

</form>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
$("#save").click( function(e){
e.preventDefault();
var name= document.getElementById("name").value;
var employee_code= document.getElementById("employee_code").value;
var phone_number= document.getElementById("phone_number").value;
var email= document.getElementById("email").value;
var address= document.getElementById("address").value;
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
var id= 1
		$.ajax({
		   url:"/edit-employee/"+id ,
		   data: {
		   		   name: name,
		   		   employee_code: employee_code,
		   		   phone_number: phone_number,
		           email : email,
		           address: address,
		   },
		   dataType: 'json',
		   type: 'post',
           headers: {'X-CSRFToken': csrftoken},
		   success: function (response) {
		        if(response.result == "success"){
                 toastr.success("Data Saved Successfully!");
                 setTimeout(function(){
                    window.location.replace("/view-employees/")
                   }, 5000)
                 }
                else if(response.error.name){
                    document.getElementById("error_name").innerHTML = response.error.name
                }
                else if(response.error.employee_code){
                    document.getElementById("error_employee_code").innerHTML = response.error.employee_code
                }
                else if(response.error.phone_number){
                    document.getElementById("error_phone_number").innerHTML = response.error.phone_number
                }
                else if(response.error.email){
                    document.getElementById("error_email").innerHTML = response.error.email
                }
                else if(response.error.phone_number){
                    document.getElementById("error_phone").innerHTML = response.error.phone_number
                }
                else if(response.error.address){
                    document.getElementById("error_address").innerHTML = response.error.address
                }
            },
            error: function(error){
               toastr.error("Error!");
            }
            });
        });

    function addEmployee(){
        $.ajax({
            url: "/add-employee/" ,
            cache:'false',
            dataType: 'text',
            type:"GET",
            success: function(data){
            window.location.replace('/add-employee/');
        },
        error: function(data){
         toastr.error("Error!");
        }
        });
    return false;
    }

        function viewEmployee(){
        $.ajax({
            url: "/view-employees/" ,
            cache:'false',
            dataType: 'text',
            type:"GET",
            success: function(data){
            window.location.replace('/view-employees/');
        },
        error: function(data){
         toastr.error("Error!");
        }
        });
    return false;
    }
</script>
</body>
</html>