<html>
<head>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>
<body>
<form>
    {% csrf_token %}
    <table>
        <tr>
            <td>
              <h3> Employee Code</h3>
            </td>
            <td>
               <h3>Employee Name</h3>
            </td>
        </tr>
        {% if employee %}
            {% for e in employee %}
            <tr>
                <td>
                    <input type="employee_code" value="{{e.id}}" >
                </td>
                <td>
                    <input type="name" value="{{e.name}}" >
                </td>
                <td>
                    <button id="view" data-id="{{e.id}}" class="edit-employee">View</button>
                </td>
                 <td>
                    <button id="delete" data-id="{{e.id}}" class="delete-employee">Delete</button>
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>
                <h3>No Data! </h3>
            </td>
        </tr>
        {% endif %}
        <tr>
            <button id="add_new" onclick="addEmployee()">ADD NEW EMPLOYEE</button>
        </tr>
    </table>
</form>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).on("click","button.edit-employee",function(e){
        e.preventDefault();
        var row_id = $(this).data('id');
        showCreatedEmployee(row_id);
    });

    function showCreatedEmployee(row_id){
      $.ajax({
        url: "/employee-details/"+ row_id ,
        cache:'false',
        dataType: 'text',
        type:"GET",
        success: function(data){
          window.location.replace("/employee-details/"+ row_id);
        },
        error: function(data){
        alert("Error");
        }
      });
       return false;
    }


    $(document).on("click","button.delete-employee",function(e){
        e.preventDefault();
        var row_id = $(this).data('id');
        deleteEmployee(row_id);
    });

    function deleteEmployee(row_id){
      $.ajax({
        url: "/delete-employee/"+ row_id ,
        cache:'false',
        dataType: 'text',
        type:"GET",
        success: function(data){
            toastr.success("Data Deleted Successfully!");
        },
        error: function(data){
                 toastr.error("Error!");
        }
      });
       return false;
    }

        function addEmployee(){
      $.ajax({
        url: "/add-employee/" ,
        cache:'false',
        dataType: 'text',
        type:"GET",
        success: function(data){
            window.location.replace('/add-employee/');
        },
        error: function(data){
                 toastr.error("Error!");
        }
      });
       return false;
    }



</script>

</body>
</html>